html {
  scroll-behavior: smooth;
}
body{
  margin :0%;
  background-color: black;
}
.fondo{
  height: 100vh;
  margin:0%; 
  background-image: url("../assets/img4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbarmine{
  padding-top: 7.5vh;
  text-align: center;
  padding-bottom: 7.5vh;
  background-color: rgba(0, 0, 0, 0.99);
  width: 100%;
  margin: auto;
  
  
}
.navbarmine a{ 
  animation: 1s fadeIn;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin-right: 4vw;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 4.5%;
  transition: 0.3s;
}
.btn{
  display:inline;
  position: absolute; top:10%; left:8%;
  font-size: 35px;
  color: white;
  display:none;
}
.navbarmine a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
.presentacion{
  text-align: center;
  height: calc(100vh - 19px);
  background-color: rgba(0, 0, 0, 0.6);
}
.imagen{
  padding-top: calc((100vh - 19px)/4);
  width: 50%;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.acerca{
  background-image: url("../assets/img2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.acerca-contenido{
  background-color: rgba(255, 255, 255, 0.55);
  height: 100vh;
  width: 70vw;
}
.titulo-acerca{
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 8vh;
  font-family: Arial, Helvetica, sans-serif;
}
.parrafo-acerca{
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: justify;
  font-size: 20px;
}
.competencias{
  background-image: url("../assets/moon.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.competencias-contenido{
  background-color: rgba(0, 0, 0, 0.55);
  height: 100vh;
  width: 70vw;
  float:right;
}
.titulo-competencias{
  text-align: center;
  color: rgb(255, 255, 255);
  margin:0%;
  padding-top: 8vh;
  font-family: Arial, Helvetica, sans-serif;
}
.parrafo-competencias{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: justify;
  font-size: 20px;
}
.tecnologias{
  margin-top: 10%;
  padding-left: 10%;
  float: inline-start;

}

@media only screen and (max-width: 600px) {
  .parrafo-acerca {
    font-size: 5px;
  }
  .imagen{
    padding-top: 50vh;
    
  }
  .btn{
    display:inline;
  }
  .navbarmine a{
    font-size: 8px;
  }
  .navbarmine{
    display:none;
  }
  .titulo-acerca{
    font-size: 13px;
  }
  .acerca{
    height: 50vh;
  }
  .acerca-contenido{
    height: 50vh; 
  }
  .competencias{
    height: 50vh; 
  }
  .competencias-contenido{
    height: 50vh;
  }
  .titulo-competencias{
    font-size: 13px;
  }
  .parrafo-competencias{
    font-size: 5px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 601px) {
  .parrafo-acerca {
    font-size: 8px;
  }
  .navbarmine a{
    font-size: 11px;
  }
  .imagen{
    padding-top: 50vh;
    
  }
  .btn{
    display:inline;
  }
  .navbarmine{
    display:none;
  }
  .titulo-acerca{
    font-size: 16px;
  }
  .acerca{
    height: 80vh;
  }
  .acerca-contenido{
    height: 80vh;
  }
  .competencias{
    height: 80vh; 
  }
  .competencias-contenido{
    height: 80vh;
  }
  .titulo-competencias{
    font-size: 16px;
  }
  .parrafo-competencias{
    font-size: 8px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  5%{
    opacity: 0.05;
  }
  10%{
    opacity: 0.10;
  }
  15%{
    opacity: 0.15;
  }
  20%{
    opacity: 0.20;
  }
  25%{
    opacity: 0.25;
  }
  30%{
    opacity: 0.30;
  }
  35%{
    opacity: 0.35;
  }
  40% {
    opacity: 0.40;
  }
  45%{
    opacity: 0.45;
  }
  50%{
    opacity: 0.50;
  }
  55%{
    opacity: 0.55;
  }
  60% {
    opacity: 0.60;
  }
  65%{
    opacity: 0.65;
  }
  70%{
    opacity: 0.70;
  }
  75%{
    opacity: 0.75;
  }
  80%{
    opacity: 0.80;
  }
  85%{
    opacity: 0.85;
  }
  90%{
    opacity: 0.90;
  }
  95%{
    opacity: 0.95;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}